::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(130, 0, 0);
}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face{
    font-family: nulshock;
    src: url(../FNDS/nulshock\ bd.otf);
}

@font-face{
    font-family: Bluffolk;
    src: url(../FNDS/Bluffolk.otf);
}

.BUT-TXT {
    font-family: Arial;
    font-size: 21px;
    color: rgb(209, 209, 209);
    margin-top: 20px;
    text-align: center;
}

.BUT-Line {
    justify-content: center;
    margin-inline: auto;

    width: 95%;
    max-width: 2500px;
    height: 1px;

    background-color: rgba(228, 228, 228, 0.5);
    margin-top: 34px;
    border-radius: 2px;
}

.NavBar {
    justify-content: center;
    margin-inline: auto;

    max-width: 4150px;
    height: 49px;
    background-color: red;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.832);
    border-radius: 12px;
}

.NavBar .NavBarContainer {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-inline: 1%;
}

.SideBar .SideBarContainer {
    width: 100%;
    list-style: none;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding-left: 5%;
}

.NavBar .NavText, .SideBar .SideText {
    height: 49px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.NavBar a, .SideBar a {
    text-decoration: none;
    color: black;
    font-family: Bluffolk;
    font-size: 28px;
    transition: all 180ms;
}

.SideBar {
    justify-content: center;
    margin-inline: auto;
}

.NavBar .NavText:first-child {
    margin-right: auto;
}

.SideBar .SideText {
    padding-top: 5%;
    margin-inline: auto;
}

.NavBar a:hover, .SideBar a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffffffa8, 0 0 20px #ffffff79;
}

.SideBar {
    justify-content: center;
    margin-inline: auto;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding-top: 50px;
    background-color: rgba(63, 63, 63, 0.885);
    backdrop-filter: blur(20px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.318);
    z-index: 4;
    border-radius: 2px;

    display: none;
}

.SideBarBtn {
    height: 40px;
    width: 40px;

    padding: 0;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;

    cursor: pointer;

    opacity: 0.85;
    transition: all 180ms;
}

.SideBarBtn:hover {
    opacity: 1;
}

.SideBar .SideBarBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../IMGS/Close.png");
}

.NavBar .SideBarBtn {
    background-image: url("../IMGS/Menu.png");
}

.NavBarContainer .MenuBtn {
    display: none;
}

@media(max-width: 860px){
    .NavBarContainer .HideOnMobile{
        display: none;
    }
    .NavBarContainer .MenuBtn {
        display: block;
    }
}

@media(max-width: 400px){
    .SideBar {
        width: 100%;
    }
}

.BannerBord {
    justify-content: center;
    margin-inline: auto;
    position: relative;
    width: 100%;
    max-width: 4100px;
    block-size: auto;
    background-image: url("../IMGS/BAN1.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation: change 30s infinite ;
    animation-timing-function: linear;
}

@media(max-width: 1050px){
    .BannerBord {
        display: none;
    }
}

.RefImgSize {
    content:url("../IMGS/BAN2.jpg");
    width: 100%;
    max-width: 4100px;
    height: auto;
    border: 10px;


    display: flex;
    justify-content: center;
    margin-inline: auto;
    opacity: 0;
}

@keyframes change{
    0%
    {
        background-image: url("../IMGS/BAN1.jpg");
    }
    23%
    {
        background-image: url("../IMGS/BAN1.jpg");
    }
    25%
    {
        background-image: url("../IMGS/BAN2.jpg");
    }
    48%
    {
        background-image: url("../IMGS/BAN2.jpg");
    }
    50%
    {
        background-image: url("../IMGS/BAN3.jpg");
    }
    73%
    {
        background-image: url("../IMGS/BAN3.jpg");
    }
    75%
    {
        background-image: url("../IMGS/BAN4.jpg");
    }
    98%
    {
        background-image: url("../IMGS/BAN4.jpg");
    }
}

.NRT{
    font-family: Arial;

    font-size: 31px;
    color: rgb(240, 240, 240);

    margin-top: 9px;
    margin-bottom: 14px;
    margin-left: 10px;
}

.BRI {
    margin-top: 30px;
    justify-content: center;
    margin-inline: auto;

    border-radius: 10px;
    padding: 10px;
    background-color: rgb(26, 26, 26);

    width: 100%;
    max-width: 4000px;
}

.BRO {
    background-color: rgb(6, 6, 6);
    
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.displ-flx {
    display: flex;
}

.container {
    width: 100%;
}

.slider-wrapper {
    width: 100%;
}

@media(min-width: 3940px){
    .slider-wrapper .slide-button {
        display: none;
    }
}
@media(max-width: 452px){
    .slider-wrapper .slide-button {
        display: none;
    }
}

.slider-wrapper .slide-button {
    transition: background-color 0.15s;

    z-index: 2;

    font-size: 36px;
    -webkit-text-stroke-width: 4px;
    color: rgb(228, 228, 228);
    background-color: rgb(196, 0, 0);

    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;

    height: 50px;
    width: 50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-wrapper .slide-button:hover {
    background-color: rgb(255, 0, 0);
}

.slider-wrapper .slide-button:active {
    background-color: rgb(179, 0, 0);
}

.slider-wrapper .slide-button#prev-slide{
    position: absolute;
    left: 1%;
    transform: translateX(-1%);
    margin-top: 80px;
}

.slider-wrapper .slide-button#next-slide{
    position: absolute;
    right: 1%;
    transform: translateX(-1%);
    margin-top: 80px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 5px;
    font-size: 0;

    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;

    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.image-list img {
    transition: all 90ms;

    height: 212px;
    width: 368px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image-list img:hover {
    height: 216px;
    width: 372px;
    margin: 0;
    border-radius: 3px;
    filter: brightness(1.1);
}

.VidContainer {
    position: relative;

    width: 90%;
    max-width: 1300px;

    display: flex;
    justify-items: center;
    margin-inline: auto;
    background-color: black;
}

.VidContainer.theater, .VidContainer.full-screen {
    max-width: initial;
    width: 100%;
}

.VidContainer.theater {
    max-height: 80vh;
}

.VidContainer.full-screen {
    max-height: 100vh;
}

.VidPlayer {
    width: 100%;
    z-index: 1;
}

.VidControlsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.VidControlsContainer::before {
    content: " ";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.VidContainer:hover .VidControlsContainer, .VidContainer:focus-within .VidControlsContainer, .VidContainer.paused .VidControlsContainer {
    opacity: 1;
}

.VidControlsContainer .Controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.VidControlsContainer .Controls button {
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    border: none;
    color: inherit;
    padding: 0;
    height: 35px;
    width: 35px;
    opacity: 0.8;
    transition: opacity 210ms ease-in-out;
}

.VidControlsContainer .Controls button:hover {
    opacity: 1;
}

.VidContainer.paused .PlayPauseBtn {
    background-image: url("../IMGS/UNP.png");
}

.VidContainer:not(.paused) .PlayPauseBtn { 
    background-image: url("../IMGS/P.png");
}

.VidContainer.theater .TheaterBtn {
    background-image: url("../IMGS/UNTH.png");
}

.VidContainer:not(.theater) .TheaterBtn { 
    background-image: url("../IMGS/TH.png");
}

.VidContainer.full-screen .FullScreenBtn {
    background-image: url("../IMGS/Fullscreen\ Exit.png");
}

.VidContainer:not(.full-screen) .FullScreenBtn { 
    background-image: url("../IMGS/Fullscreen.png");
}

.VidContainer.mini-player .MiniPlayerBtn {
    background-image: url("../IMGS/UNMIN.png");
}

.VidContainer:not(.mini-player) .MiniPlayerBtn { 
    background-image: url("../IMGS/MIN.png");
}

.VidContainer[data-VolumeLevel = "high"] .VolumeBtn {
    background-image: url("../IMGS/VolHigh.png");
}

.VidContainer[data-VolumeLevel = "low"] .VolumeBtn {
    background-image: url("../IMGS/VolLow.png");
}

.VidContainer[data-VolumeLevel = "muted"] .VolumeBtn {
    background-image: url("../IMGS/VolMuted.png");
}

.VidContainer .Controls .VidSettingsBtn {
    background-image: url("../IMGS/SET.png");
}

.VolumeContainer {
    display: flex;
    align-items: center;
}

.volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 12px;
    background-color: rgb(201, 201, 201);
    width: 0;
    transform-origin: left;
    transition: width 190ms;
    visibility:hidden;
    outline: none;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(201, 201, 201);
    cursor: grab;
    z-index: 3;
    position: relative;
    top: -4px;
    transition: all 200ms ease-in-out;
}

.volumeSlider::-webkit-slider-runnable-track {
    height: 6px;
}

.volumeSlider::-webkit-slider-thumb:active {
    cursor: grabbing;
    background-color: rgb(222, 0, 0);
}

.VolumeContainer:hover .volumeSlider, .volumeSlider:focus-within {
    width: 100px;
    visibility: visible;
}

.DurationContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: sans-serif;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.TimelineContainer {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.TimeLine {
    background-color: rgba(100, 100, 100, 0.5);
    height: 3px;
    width: 100%;
    position: relative;
    transition: all 90ms ease-in-out;
}

.TimeLine::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.TimeLine::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
}

.TimeLine .ThumbIndicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 110ms ease-in-out;
    aspect-ratio: 1 / 1 ;
}

.TimeLine .PreviewIMG {
    position: absolute;
    height: 80px;
    aspect-ratio: 16/9;
    top: -6rem;
    transform: translate(-50% -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: 0.25rem;
    border: 2px solid white;
    display: none;
}

.ThumbnailIMG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.VidContainer.scrubbing .ThumbnailIMG {
    display: block;
}

.VidContainer.scrubbing .PreviewIMG, .TimelineContainer:hover .PreviewIMG {
    display: block;
}

.VidContainer.scrubbing .TimeLine::before, .TimelineContainer:hover .TimeLine::before {
    display: block;
}

.VidContainer.scrubbing .ThumbIndicator, .TimelineContainer:hover .ThumbIndicator {
    --scale: 1;
}

.VidContainer.scrubbing .TimeLine, .TimelineContainer:hover .TimeLine {
    height: 100%;
}

.SponsorContainer {
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    width: 80%;
    max-width: 2500px;
    justify-content: center;
    margin-inline: auto;
}

.SponsorImg {
    height: 74px;
    width: 74px;
    cursor: pointer;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SettingsMenu {
    background-color: rgba(121, 121, 121, 0.8);
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 1%;
    width: fit-content;
    height: fit-content;
    z-index: 4;
    padding: 1px;

    display: none;
}

.SettingIcon {
    width: 30px;
    height: 30px;
}

.SettingContainer {
    display: flex;
    margin-block: 5px;
    width: 150px;
}

.SettingText {
    margin-block: auto;
    margin-inline: 6px;
    font-family: Arial;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}
